<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Thêm sách</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive"> 
                   <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="bmd-label-floating">Mã ISBN</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>                    
                    </div>
                                       <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="bmd-label-floating">Tên sách</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>                    
                    </div>          
                     <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="bmd-label-floating">Loại sách</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>                    
                    </div>                  
                     <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="bmd-label-floating">Tác giả</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>                    
                    </div>
                                        <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="bmd-label-floating">Nhà xuất bản</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>                    
                    </div>
                                        <div class="row">                  
                    </div>
                    <button onclick="window.location.href = '/book-management' " type="button" class="btn btn-primary pull-left">Thêm</button>
                    <div class="clearfix"></div>
                </form>
            </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">

    </div>
</div>